/* Variables */

:root{
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #333333;
  --basic-light-gray: #F2F2F2;
  --basic-brown: #766357;
  --basic-graphite-gray: #666666;
  --basic-blue: #81B3D2;
  --background-gray: #F2F2F2;
  --background-light-gray: #EEEEEE;
  --background-medium-gray: #EBEBEB;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
}

/*Global*/

.page{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-gray);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
}

.wrap{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
  color: var(--basic-black);
}

li{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

h3,
h4{
  font-size: 21px;
  font-weight: 700;
}

.button {
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  font-weight: 700;
}

.main-search .button{
  font-size: 21px;
  line-height: 26px;
}

.btn-blue{
  background-color: var(--basic-blue);
}

.btn-blue:hover,
.btn-blue:focus{
  background-color: var(--hover-blue);
}

.btn-blue:active{
  background-color: var(--active-blue);
}

.btn-brown{
  background-color: var(--basic-brown);
}

.btn-brown:hover,
.btn-brown:focus{
  background-color: var(--hover-brown);
}

.btn-brown:active{
  background-color: var(--active-brown);
}

.link:hover,
.link:focus{
  color: var(--basic-blue);
}

.link:active{
  opacity: 0.3;
}

/*Header*/

.main-navigation{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.site-navigation{
  width: auto;
  padding: 0;
  grid-column: 1/6;
  grid-row-start: 1;
  display: flex;
  justify-content: space-around;
}

.main-navigation-logo{
  width: 138px;
  height: 70px;
  justify-self: center;
  grid-column: 3/4;
  grid-row-start: 1;
  z-index: 1;
}

.site-navigation a{
  line-height: 26px;
  font-weight: 700;
}

a.active-link{
  color: var(--basic-brown);
}

/*Footer*/

.main-footer{
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  line-height: 26px;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact{
  font-weight: 700;
  font-size: 21px;
}

.contact p{
  margin-top: 10px;
}

.social{
  display: flex;
  padding: 0;
  justify-self: center;
  align-items: center;
}

/*Index*/

.main-home-page{
  display: grid;
}
/*Page title*/

.main-title{
  background: url("../img/background.jpg") no-repeat center;
  text-align: center;
}

.main-title::after{
  content: '';
  display: block;
  height: 57px;
  content: url("../img/intro-mask.svg");
}

/*Features*/

.intro-title{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.intro-subtitle{
  line-height: 26px;
}

.color-blue{
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.color-gray{
  background-color: var(--background-light-gray);
}

.color-gray h3{
  color: var(--basic-black);
}

/*Main search*/

.main-search h2{
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

/*Search form*/
.hotel-search{
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.hotel-search input{
  background: var(--background-gray);
  font: inherit;
  border: none;
}

.hotel-search input:hover{
  background-color: var(--background-medium-gray);
}

.hotel-search input:focus{
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}

/*Hotels*/
/*Hotel filter*/

.hotel-filter{
  background: url("../img/background-filter.jpg") no-repeat center;
  color: var(--basic-white);
}

fieldset{
  border: none;
}

.hotel-filter legend{
  font-size: 16px;
  font-weight: 700;
}

.filter-button{
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  color: white;
}

/*Hotel sorting*/

.hotel-sorting{
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.search-results{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-button{
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-button:hover,
.sorting-button:focus{
  color: var(--basic-blue);
}

.sorting-button:active{
  color: var(--basic-black);
  border-bottom: none;
}

/*Hotel list*/

.hotels{
  display: grid;
  gap: 30px;
  padding: 0;
}

.hotels li{
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.hotel-info div:first-child{
  margin-right: 20px;
}

.hotel-info{
  display: flex;
}

.hotel-list h3{
  line-height: 26px;
}

.hotel-rating{
  color: var(--basic-graphite-gray);
  background: var(--background-gray);
}


