/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #333333;
  --basic-light-gray: #F2F2F2;
  --basic-brown: #766357;
  --basic-graphite-gray: #666666;
  --basic-blue: #81B3D2;
  --background-gray: #F2F2F2;
  --background-light-gray: #EEEEEE;
  --background-medium-gray: #EBEBEB;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --border-gray: #E5E5E5;
  --active-gray: #bdbbbc;
}

/*Global*/

.page {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-gray);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: var(--basic-white);
  min-height: 100%;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

li {
  list-style: none;
}

ul,
ol {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h3,
h4 {
  font-size: 21px;
  font-weight: 700;
}

.button {
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  font-weight: 700;
}

.main-search .button {
  font-size: 21px;
  line-height: 26px;
}

.btn-blue {
  background-color: var(--basic-blue);
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--hover-blue);
}

.btn-blue:active {
  background-color: var(--active-blue);
  color: rgba(255, 255, 255, 0.3);
}

.btn-brown {
  background-color: var(--basic-brown);
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: var(--hover-brown);
}

.btn-brown:active {
  background-color: var(--active-brown);
  color: rgba(255, 255, 255, 0.3);
}

.link:hover,
.link:focus {
  color: var(--basic-blue);
}

.link:active {
  opacity: 0.3;
}

/*Header*/

.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: -15px;
}

.site-navigation {
  margin: 0;
  padding-top: 15px;
  width: auto;
  grid-column: 1/6;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-navigation-logo {
  width: 138px;
  height: 70px;
  justify-self: center;
  grid-column: 3/4;
  grid-row-start: 1;
  z-index: 1;
}

.site-navigation a {
  display: block;
  line-height: 26px;
  font-weight: 700;
}

a.active-link {
  color: var(--basic-brown);
}

.info-link {
  grid-column: 1/2;
  justify-self: center;
}

.media-link {
  grid-column: 2/3;
  justify-self: center;
}

.map-link {
  grid-column: 4/5;
  justify-self: center;
}

.hotel-link {
  grid-column: 5/6;
  justify-self: center;
}

/*Footer*/

.main-footer {
  min-height: 120px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  opacity: 0.9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  justify-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  padding-left: 72px;
  padding-top: 20px;
}

.contact p {
  margin-top: 8px;
}

.social {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social li {
  padding-bottom: 5px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.social a:active svg{
  opacity: 0.3;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 70px;
  padding-bottom: 10px;
}

.copyright p {
  margin-right: 8px;
}

.copyright a {
  display: inline-block;
  width: 115px;
  height: 40px;
}

.academy-link:focus path,
.academy-link:hover path {
  fill: var(--basic-blue);
}

.academy-link:active path {
  fill: var(--active-gray);
}


/*Index*/

/*Page title*/

.main-title {
  background: url("../img/background.jpg") no-repeat center;
  text-align: center;
  margin-bottom: 40px;
}

.main-title img {
  padding-top: 77px;
  padding-bottom: 20px;
}

.main-title::after {
  content: '';
  display: block;
  height: 57px;
  background-image: url("../img/intro-mask.svg");
}


/*Features*/

.main-features {
  text-align: center;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 45px;
}

.intro-subtitle {
  line-height: 26px;
  margin-bottom: 52px;
}

.intro-list {
  display: grid;
}

.point-1 {
  grid-column: 1/4;
  grid-row: 1/3;
}

.color-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.row-1 {
  display: flex;
  margin-bottom: 30px;
}

.wrap-reason {
  width: 400px;
}

.wrap-reason h3 {
  width: 151px;
  margin: 49px auto 25px auto;
}

.wrap-reason span {
  display: inline-block;
  margin-bottom: 10px;
}

.wrap-reason p {
  padding: 0 45px;
}

.img-city {
  width: 800px;
  height: 256px;
  background-image: url("../img/location-1.jpg");
}

.city-features {
  margin-bottom: 68px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sublist-row {
  width: 400px;
}

.sublist-row p {
  margin-right: 50px;
  margin-left: 50px;
}

.housing::before {
  content: url("../img/icon-1.svg");
  display: block;
  padding-bottom: 26px;
}

.food::before {
  content: url("../img/icon-3.svg");
  display: block;
  padding-bottom: 28px;
}

.souvenirs::before {
  content: url("../img/icon-2.svg");
  display: block;
  padding-bottom: 25px;
}

.souvenirs {
  margin-bottom: 25px;
}

.point-2 {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
}

.img-bridge {
  width: 800px;
  height: 256px;
  background-image: url("../img/location-2.jpg");
}

.color-gray {
  background-color: var(--background-light-gray);
}

.color-gray h3 {
  color: var(--basic-black);
}

.bottom-row {
  width: 400px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.bottom-row h3 {
  margin-right: 140px;
  margin-left: 140px;
  margin-bottom: 26px;
}

.bottom-row span {
  display: inline-block;
  margin-bottom: 10px;
}

.bottom-row p {
  margin-right: 69px;
  margin-left: 69px;
}

/*Main search*/

.main-search {
  position: relative;
  text-align: center;
  padding-top: 15px;
}

.main-search h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-search p {
  padding-top: 10px;
  margin-bottom: 50px;
}

.form-call-button {
  text-align: center;
  padding: 30px 140px;
}

/*Search form*/

.hotel-search {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  position: absolute;
  width: 100%;
}

.form-container {
  margin: 0px auto;
  width: 568px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.hotel-search input::-moz-placeholder,
.hotel-search input::-webkit-input-placeholder {
  text-transform: uppercase;
  opacity: 1;
}

.field-name {
  padding-top: 5px;
  display: block;
  width: 110px;
  text-align: left;
}

.number-of-children {
  text-align: center;
}

.hotel-search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 55px;
}

.hotel-search input {
  background-color: var(--background-gray);
  font: inherit;
  border: none;
  box-sizing: border-box;
}

.hotel-search input:hover {
  background-color: var(--background-medium-gray);
}

.hotel-search input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  outline: none;
}

.checkin-date-field input,
.checkout-date-field input {
  width: 290px;
  padding-left: 13px;
}

.number-of-people-field input {
  width: 38px;
  text-align: center;
}

.form-line {
  margin-bottom: 29px;
  display: flex;
  width: 458px;
}

.calendar {
  background: var(--basic-light-gray);
  border: none;
  padding: 7px 9px;
}

.sign-button {
  background: var(--basic-light-gray);
  border: none;
  font-weight: bold;
  font-size: 25px;
  padding: 4px 13px;
}

.form-container .sign-button {
  color: #a9a9a9;
}

.form-container .calendar {
  fill: #a9a9a9;
}

.form-container .sign-button:hover,
.form-container .sign-button:focus {
  color: var(--basic-black);
  background: #EBEBEB;
}

.form-container .calendar:hover,
.form-container .calendar:focus {
  fill: var(--basic-black);
  background: #EBEBEB;
}

.form-container .sign-button:active {
  color: var(--basic-blue);
  background: #FFFFFF;
}

.form-container .calendar:active {
  fill: var(--basic-blue);
  background: #FFFFFF;
}

.number-of-people-field {
  margin-bottom: 54px;
}

.search-button {
  margin-bottom: 50px;
  padding: 16px 195px;
}

/*Map Section*/

.map {
  margin-bottom: -120px;
}

/*Hotels*/

/*Hotel selection filter*/

.hotel-selection-filter {
  background: url("../img/background-filter.jpg") no-repeat center;
  background-size: cover;
  color: var(--basic-white);
  padding-top: 25px;
  margin-bottom: 30px;
}

.hotel-selection-filter form {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.hotel-selection-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.hotel-selection-filter legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 13px;
}

.hotel-selection-filter li {
  padding-left: 40px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 25px;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-block.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url("../img/Shape-block.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotel-amenities-filter {
  padding-left: 72px;
  margin-bottom: 8px;
}

.hotel-type-filter {
  padding-left: 26px;
}

.price-block {
  padding-left: 210px;
}

.price-block fieldset {
  margin-bottom: 17px;
}

.range-filter {
  width: 317px;
}

.price-control {
  display: flex;
  align-items: center;
  width: 313px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

.price-control label{
  display: inline-block;
  width: 50%;
  text-align: center;
}

.price-control input {
  width: 40px;
  text-align: center;
  color: var(--basic-white);
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.min-price {
  border-right: 2px solid #FFFFFF;
}

.min-price,
.max-price {
  margin: 6px;
}

.range-control {
  margin-bottom: 15px;
  margin-top: 20px;
  position: relative;
}

.range-control .scale {
  height: 2px;
  background: #d7dcde;
}

.range-control .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-control .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-control .toggle:hover,
.range-control .toggle:focus{
  transform: scale(1.2, 1.2);
}

.range-control .toggle-max {
  left: 253px;
}

.filter-button {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  color: white;
  padding: 8px 33px;
  margin-left: 85px;
}

.filter-button:hover,
.filter-button:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/*Hotel sorting*/

.hotel-sorting {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sort-type-container {
  display: flex;
  align-items: center;
  margin-left: 72px;
}

.search-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 45px;
}

.sorting-type {
  margin-right: 40px;
}

.sorting-button {
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--basic-blue);
  opacity: 0.3;
  margin-right: 35px;
}

.sorting-button:hover,
.sorting-button:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting-button:active {
  color: var(--basic-black);
  border: none;
}

.active-sorting-button {
  color: var(--basic-blue);
  opacity: 1;
  border: none;

}

.direction-button {
  margin-right: 63px;
  margin-top: 8px;
}

.sort-type-button {
  border: none;
  background: transparent;
  fill: #CACACA;
  padding: 0;
  margin-right: 10px;
}

.sort-type-button:focus,
.sort-type-button:hover {
  fill: var(--basic-black);
}

.sort-type-button:active {
  fill: var(--basic-blue);
}

.active-button {
  fill: var(--basic-blue);
}

/*Hotel list*/

.hotels {
  padding: 0;
}

.hotels li {
  padding: 25px 73px;
  border-bottom: 1px solid var(--border-gray);
}

.hotels li:first-child {
  border-top: 1px solid var(--border-gray);
}

.hotels li {
  display: flex;
  justify-content: space-between;
}

.hotel-photo {
  margin-right: 30px;
}

.hotel-features {
  display: flex;
  flex-direction: column;
}

.hotel-info {
  display: flex;
  align-items: flex-end;
}

.hotel-type {
  margin-right: 30px;
}

.hotel-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel-list h3 {
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 15px;
}

.stars {
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-size: 19px auto;
  margin-bottom: 47px;
  text-align: right;
}

.four-stars {
  width: 91px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.hotel-rating {
  color: var(--basic-graphite-gray);
  background: var(--background-gray);
  padding: 5px 15px;
}

.more-details {
  padding: 5px 15px;
}

.book {
  padding: 6px 15px;
}


